@model List<TranierGetVM>
<!-- content -->
<div class="container">
    <div class="row">
        <div class="row">

            <a asp-action="Create" class="btn btn-success">Create</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">CategoryName</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <th scope="row">
                            <img src="~/assets/images/@item.ImagePath" width="40" height="40">
                        </th>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Experience</td>
                        <td>@item.Description</td>
                        <td>@item.CategoryName</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>